<script src="{{ 'announcement-bar.js' | asset_url }}" defer="defer"></script>

{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <{%- if block.settings.sticky_announcement-bar_type != 'none' -%}sticky-announcement-bar data-sticky-type="{{ block.settings.sticky_announcement-bar_type }}"{%- else -%}div{%- endif -%} 
        id="announcement-bar" class="announcement-bar active color-{{ block.settings.color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}
      >
        {%- if block.settings.text != blank -%}
          <div class="page-width announcement-bar__content">
          {%- if block.settings.link != blank and block.settings.link_type == "arrow" -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
                <p class="announcement-bar__message {{ block.settings.text_alignment }} h5">
                  <span>{{ block.settings.text }}</span>
                  {%- if block.settings.link != blank and block.settings.link_type == "arrow" -%}
                    {% render 'icon-arrow' %}
                  {%- endif -%}
                  {%- if block.settings.link_type == "button" -%}
                    <a href="{{ block.settings.link }}" class="button {% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">
                      {{ block.settings.link_text }}
                    </a>
                    {%- endif -%}
                  {%- if block.settings.link_type == "text" -%}
                    <a href="{{ block.settings.link }}" class="link">
                      {{ block.settings.link_text }}
                    </a>
                    {%- endif -%}
                </p>
                {%- if block.settings.link != blank and block.settings.link_type == "arrow" -%}
                </a>
              {%- endif -%}
              {%- if block.settings.close_button -%}
              <button
                id="announcement-bar-close-button"
                type="button"
                class="announcement-bar__close modal__close-button link link--text focus-inset"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <svg class="icon icon-close" aria-hidden="true" focusable="false">
                  <use href="#icon-close">
                  </svg>
                </button>
                {%- endif -%}
              </div>
            {%- endif -%}
      </{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>
  {%- endcase -%}
{%- endfor -%}

{% style %}
  .announcement-bar {
    display: none;
    position: relative;
  }

  .announcement-bar.active {
    display: block;
  }
{% endstyle %}

{% javascript %}
  class StickyAnnouncementBar extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.announcement-bar-section');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }
  }

  customElements.define('sticky-announcement-bar', StickyAnnouncementBar);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Welcome to our store. Huge sale happening now! Get amazing discounts on all products. Limited time offer.",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
        },
        {
          "type": "select",
          "id": "sticky_announcement-bar_type",
          "options": [
            {
              "value": "none",
              "label": "t:sections.header.settings.sticky_header_type.options__1.label"
            },
            {
              "value": "on-scroll-up",
              "label": "t:sections.header.settings.sticky_header_type.options__2.label"
            },
            {
              "value": "always",
              "label": "t:sections.header.settings.sticky_header_type.options__3.label"
            }
          ],
          "default": "none",
          "label": "t:sections.header.settings.sticky_header_type.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        },
        {
        "type": "select",
        "id": "link_type",
        "options": [
          {
            "value": "arrow",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.link_type.options__1.label"
          },
          {
            "value": "button",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.link_type.options__2.label"
          },
          {
            "value": "text",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.link_type.options__3.label"
          }
        ],
        "default": "arrow",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.link_type.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.announcement-bar.blocks.announcement.settings.button_style_secondary.label"
        },
        {
          "type": "text",
          "id": "link_text",
          "default": "Shop now!",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link_text.label"
        },
        {
          "type": "checkbox",
          "id": "close_button",
          "default": true,
          "label": "t:sections.announcement-bar.blocks.announcement.settings.close_button.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
